.list-on-going{
    background-color:  #d6b256;
    transition: .3s;
}
.list-on-going:hover{
    transform: scale(1.05);
    transition: .3s;
}

.done-icon{
    color: rgb(20, 100, 17);
    font-size: 25px;
    cursor: pointer;
}